<form #stripeCustomForm="ngForm" id="stripe-custom-form" (ngSubmit)="getToken()">
    <h1>Custom Stripe Form</h1>

    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element" class="StripeElement">
            <!-- a Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors -->
        <div id="card-errors">{{message}}</div>
    </div>

    <button [disabled]="!stripeCustomForm.form.valid">Submit Payment</button>
</form>