<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required email id="email"/>
            <div class="alert alert-danger" *ngIf="!email.valid && (!email.pristine || f.submitted)">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxlength="100" id="password"/>
            <div class="alert alert-danger" *ngIf="!password.valid && (!password.pristine || f.submitted)">
                Password is required (minimum 6 characters).
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
            <label for="confirmPassword">Retype password</label>
            <input type="password" class="form-control" placeholder="Retype password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required minlength="6" maxlength="100" [equalTo]="password" id="confirmPassword" />
            <div class="alert alert-danger" *ngIf="!confirmPassword.valid && (!confirmPassword.pristine || f.submitted)">
                <div *ngIf="(confirmPassword.errors.required || confirmPassword.errors.minlength || confirmPassword.errors.maxlength) && (!confirmPassword.pristine || f.submitted)">
                    Password confirmation is required (minimum 6 characters).
                </div>
                <div *ngIf="confirmPassword.errors?.equalTo && (!confirmPassword.pristine || f.submitted)">
                    Passwords do not match
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading || f.invalid" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" alt="loading-spinner"/>
            <a [routerLink]="['/login']" class="btn btn-link">Login</a>
        </div>
    </form>
</div>