<div class="main-nav">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">ASPNetCoreAngular2Payments</a>
        </div>
        <div class="clearfix"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class="glyphicon glyphicon-education"></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class="glyphicon glyphicon-th-list"></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['search']">
                    <a [routerLink]="['/search']">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </a>
                </li>
                <li [routerLinkActive]="['stripe-default-purchase']">
                    <a [routerLink]="['/stripe-default-purchase']">
                        <span class="glyphicon glyphicon-th-list"></span> Stripe Default Purchase
                    </a>
                </li>
                <li [routerLinkActive]="['stripe-custom-purchase']">
                    <a [routerLink]="['/stripe-custom-purchase']">
                        <span class="glyphicon glyphicon-th-list"></span> Stripe Custom Purchase
                    </a>
                </li>
                <li [routerLinkActive]="['braintree']">
                    <a [routerLink]="['/braintree']">
                        <span class="glyphicon glyphicon-th-list"></span> Braintree Purchase
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
